<div>
    <div class="container">
        <div class="col-md-6 offset-md-3">
            <h1 class="text-center">Register here</h1>
            <form (ngSubmit)="formSubmit()">
                <!--username-->
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>username</mat-label>
                    <input matInput placeholder="Enter your name" name="username" [(ngModel)]="user.username">
                   
                  </mat-form-field>
                
                   <!--password-->
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>password</mat-label>
                    <input matInput type="password" placeholder="password" name="password" [(ngModel)]="user.password">
                  </mat-form-field>
                
                   <!--firstName-->
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Name</mat-label>
                    <input matInput placeholder="Enter your Name" name="fName" [(ngModel)]="user.firstName">
                  </mat-form-field>

                     <!--lastName-->
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Last Name</mat-label>
                    <input matInput placeholder="Enter your Last Name" name="lName" [(ngModel)]="user.lastName">
                  </mat-form-field>
                      <!--email-->
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" placeholder="email" name="email" [(ngModel)]="user.email">
                  </mat-form-field>

                      <!--lastName-->
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Phone</mat-label>
                    <input matInput placeholder="Phone" type="tel" name="phone" [(ngModel)]="user.phone">
                  </mat-form-field>

                  <div class="container text-center">
                    <button mat-raised-button color="primary">Register</button>

                  </div>





            </form>
        </div>

    </div>
</div>